
<div class='scenario'>
<h2>Actions</h2>
<button onclick="socket.emit('chat message', 'Airway maneouvre')">Airway</button>
<button onclick="socket.emit('chat message', 'Monitoring attached')">Attach monitoring</button>
<button onclick="socket.emit('chat message', 'Procedure performed')">Procedures</button>
<button onclick="socket.emit('chat message', 'Help called for')">Call for help</button>
<button onclick="socket.emit('chat message', 'CPR commenced')">CPR</button>
<button onclick="socket.emit('chat message', 'Adrenaline given')">Adrenaline</button>
<button onclick="socket.emit('chat message', 'Amiodarone given')">Amiodarone</button>
</div>

