doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    block content
    script(src='http://code.jquery.com/jquery-1.11.0.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/socketfunctions.js')
    script(src='/javascripts/phaser.min.js')
    script(src='/javascripts/simcastfunctions.js')
    script(src='/javascripts/timerfunctions.js')