<div class='monitor'>
  <table>
    <tr class='hr'>
    <td>HR</td>
    <td><img src='images/ecg.png' \></td>		
    <td><span id='hrv'></span></td>
    </tr>
    <tr class='sat'>
    <td>SatO2</td>
    <td><img src='images/sato2.png' \></td>		
    <td><span id='satv'></span></td>
    </tr>
    <tr class='bp'>
    <td>BP</td>
    <td><img src='images/bp.png' \></td>		
    <td><span id='sbpv'></span>/<span id='dbpv'></span></td>
    </tr>
    <tr class='etco2'>
    <td>etCO2</td>
    <td><img src='images/etco2.png' \></td>		
    <td><span id='etco2v'></span></td>
    </tr>
  </table>
</div>

<div class='scenario'>
<h2>Scenario</h2>
<p><span id='descriptionv'></span></p>
</div>

